*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html,
body{
  height: 100%;
  width: 100%;
}

.parent{
  min-height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 30px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.card{
  height: 330px;
  width: 265px;
  background-color: aliceblue;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease;
}

.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.top img{
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 1px solid #dada;
  padding: 2px;
}

.top button{
  height: 50px;
  display: flex;
  align-items: center;
  border: 0px solid rgb(192, 192, 192);
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 15px;
  gap: 2px;
  background-color: transparent;
  color: #8e3a3a;
}

.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #b1b1b1;
  padding-top: 15px;
}

.center h3{
  font-size: 17px;
  font-weight: 800;
}

.center h3 span{
  font-size: 9px;
  font-weight: 400;
  color: #8b8b8b;
}

.center h2{
  font-size: 20px;
}

.center .tag{
  display: flex;
  gap: 5px;
  font-weight: 500;
  padding: 3px 6px;
  margin-top: 10px;
}

.center .tag h4{
  font-size: 12px;
  background-color: #dadada;
  color: #111;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 5px;
}

.bottom button{
  background-color: black;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  column-width: 600;
  
}

button:hover{
  cursor: pointer;
}

.bottom h3{
  font-size: 17px;
}

.bottom p{
  font-size: 10px;
  color: #8b8b8b;
}